.header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "LogoSection"
        "LoginSection";
    background-color: #DFF4FA;
}

.logoSection {
    grid-area: LogoSection;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginSection {
    grid-area: LoginSection;
}

.logoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 25px;
}

.petqricon {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
}

.title {
    position: absolute;
    top: 77%;
    font-size: 31px;
    font-weight: 600;
}

.description {
    position: absolute;
    top: 85%;
    font-weight: 400;
    font-size: clamp(18px, 20px, 40px);
}

.loginSection {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 117px 117px 0px 0px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.24);
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    gap: 15px;
}

.signEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 273px;
    height: 61px;
    background-color: #2C2D2D;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border: 2px solid black;
    width: 273px;
    height: 61px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 21px;
}

.policy {
    text-decoration: underline;
}


@media (max-width: 375px) {
    .formWrapper {
        height: 90%;
    }

    .title {
        font-size: 29px;
    }
}

@media (max-width: 414px) {
    .formWrapper {
        height: 98%;
    }

    .title {
        font-size: 35px;
    }
}

@media (min-width: 376px) and (max-width: 413px) {
    .formWrapper {
        height: 87%;
    }

    .title {
        font-size: 35px;
    }
}

@media (min-width: 414px) {
    .formWrapper {
        height: 73%;
    }

    .title {
        font-size: 37px;
    }
}