.Header{
    width: 100%;
    height: 100%;
    background-color: #DFF4FA;
    display: flex;
    align-items: flex-end;
}

.FormContainer{
    width: 100%;
    height: 85%;
    background-color: white;
    border-radius: 117px 117px 0px 0px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.FormLogin{
    width: 72%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textTitle h1{
    font-size: 26px;
    font-weight: 600;
}

.inputContainer{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}

.inputContainer img{
    position: absolute;
    left: 5%;
    width: 30px;
    height: 30px;
}
.inputContainer input{
        padding-left: 47px;
}

.textTitle h3{
    font-size: 16px;
    font-weight: 400;
}

.forgotpassword a{
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
}

.forgotpassword{
    margin-top: -5px;
}

.AccessButton{
    width: 100%;
    height: 61px;
    background-color: #2C2D2D;
    color: white;
    border-radius: 20px;
    margin-top: 24px;
    font-size: 21px;
}