.Header {
    width: 100%;
    height: 100%;
    min-width: 340px;
    background-color: #DFF4FA;
    display: flex;
    align-items: flex-end;
}

.FormContainer {
    width: 100%;
    height: 85%;
    background-color: white;
    border-radius: 117px 117px 0px 0px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pugIconContainer {
    width: 60%;
    height: auto;
    position: absolute;
    top: -12%;
}

.pugIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    margin-top: 130px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.formRegister {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.formInputs {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 61px;
    padding: 10px;
    padding-top: 12px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    outline: none;
    padding-left: 55px;
    font-family: SFPRO;
    font-weight: 600;
    font-size: 16px;
}

input[type="text"]:focus {
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.inputContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.inputContainer input::placeholder {
    font-size: 16px;
    color: black;
}

.userIcon {
    position: absolute;
    left: 14px;
    width: 30px;
    height: 30px;
}

.passwordIcon {
    position: absolute;
    left: 14px;
    width: 30px;
    height: 30px;
}

.privacyContent {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    color: #747474;
    padding-left: 16px;
    padding-right: 12px;
}

.privacyContent img {
    position: absolute;
    top: 53%;
    left: 54%;
    width: 21px;
}

.buttonSubmit{
    width: 95%;
    height: 61px;
    background-color: #2C2D2D;
    color: white;
    font-weight: 600;
    font-size: 21px;
    border-radius: 20px;
    margin-top: 10px;
}