@font-face {
  font-family: 'SFPRO';
  src: url('./fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SFPRO';
  src: url('./fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SFPRO';
  src: url('./fonts/sf-pro-display-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SFPRO';
  src: url('./fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Reset / base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;      
  margin: 0;
  padding: 0;
}

body,
h1,h2,h3,h4,h5,h6,
p,figure,blockquote,dl,dd {
  margin: 0;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

body {
  font-family: SFPRO, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

